<div class="select__margin" role="none">
    <div class="select__container">
        <div class="select__label" [ngClass]="{ required: required }">
            {{ label }}
            @if (label && required) {
                <span class="fw-bold" [ngStyle]="{ color: 'red', 'font-size': '1em', 'padding-left': '2px' }">*</span>
            }
        </div>
        @if (loaded) {
            <div class="select__field">
                <app-buttongroup [placeholder]="placeHolder" [clearBox]="clearBox" [selection]="_selection" [useFilter]="false" (clickSelect)="clickSelect()" (clear)="clear()"> </app-buttongroup>
            </div>
        }
        @if (submitted && control.invalid) {
            <div class="invalid-feedback d-block">
                <small>{{ errorMessage }}</small>
            </div>
        }
    </div>
</div>
