@import "app/field-style.css";

* {
    box-sizing: border-box;
}


.filter {
    width: 100%;
    height: 30px;
    line-height: 100%;
    z-index: 1;
}

.mat-dialog-container
{
    padding: 2px;
}

/* body {
    font-family: "Roboto", "sans-serif";
    background-color: aquamarine;
} */

h2 {
    margin: 16px;
}

.select__margin:hover {
    cursor: pointer;
}

.label-style {
    color: red;
    font-size: 1em;
    padding-left: 2px;
    height: 28px;
}

.letter {
    color: white!important;
    background-color: rgb(168, 242, 190)!important;
}

.letter-style {
   background-color: blue; 
   border-radius: 2px;
   border: 1px solid black;
   width: 20px;
   justify-content: center;
   align-items: center;
   display: flex;
   cursor: pointer;
}
.selected-option {
    color: white!important;
    background-color: blueviolet!important;

}


.container {
    margin-top: 100px;
    padding: 32px;
}

form {
    position: relative;
}
.select-box {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    max-height: 330px;
    /* background-color: lightblue; */
} 

.select-box .options-container {
    background: rgb(200, 193, 193);
    color: black;
    border-radius: 0px;
    opacity: 0;
    max-height: 0px;
    order: 1;
    z-index: 2;
    width: inherit;
    overflow-y: scroll;
}

.display-style{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9em;
    width: 100%;
}

.option.group {
    color: black;
    background-color: lightgreen;
}
.selected {
    border: 1px solid lightgray;
    background: white;
    border-radius: 0px;
    font-weight: 400;
    color: black;
    position: relative;
    order: 0;
    font-size: 0.9em;
    display: block;
    font-family: var(--bs-body-font-family);
}

.close-button {
    margin-right: 30px;
    height: 14px;
    width: 14px;
}
.selected::after
{
    content: "";
    color: black;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px 12px;
    position: absolute;
    height: 100%;
    width: 16px;
    right: 8px;
    top: 0px;
    transition: all 0.4s;
}

.selected.rotated::after
{
    transform: rotate(180deg);
}

.normalCustomSelect:focus-within {
    border: 1px solid yellowgreen;
  }
  .minScreen:focus-within {
    border: 1px solid yellowgreen;
  }
/* .filter::after
{
    content: "";
    color: black;
    background-image: url("images/svg/search.svg");    
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    position: absolute;
    height: 100%;
    width: 32px;
    right: 0px;
    top: 0px;
    transition: all 0.4s;
} */

.select-box .options-container.active {
    max-height: 300px;
    opacity: 1;
    overflow: auto;
    scroll-behavior: auto;
}

.notActive {
    height: 0px!important;
    border: 0px;
    padding: 0px;
}
.select-box .options-container.notActive {
    height: 0px;
}
.select-box .options-container.active + .selected::after {
    transform: rotateX(180deg);
    top: 0px
}


.option
{
    background-color: white;
    display: block;
    
}

.option.disable {
    background-color: lightgray;
}

.input-style {
    width: 100%;
    height: 32px; ;
}
.select-box .option {
    display: block;
    cursor: pointer;
    border-radius: 0px!important;
    height: 30px;
}

.select-box .option {
    display: flex;
    padding: 6px 6px; 
    cursor: default;
    align-items: center;
}

.select-box .selected {
    cursor: default;
}

.select-box label {
    cursor: default;
}

.select-box .option .radio {
    display: none;
}

.select-box .options-container::-webkit-scrollbar {
    width: 16px;
    background-color: #0d141f;
    border-radius: 0!important;
}

.select-box .options-container::-webkit-scrollbar-thumb {
    background: rgb(55, 171, 210);
    border-radius: 0!important;

}

.options-container {
    overflow: auto;
    scroll-behavior:auto;
    border: 1px solid black;
}

.select-box .option:hover {
    background-color: lightblue;
}

.option:hover
{
    background-color: lightblue;
    color: black;
}
