@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,200&display=swap');

.container {
    font-family: 'Poppins', sans-serif;
}

.container-description {
    margin-top: 2px;
    border-radius: 3px;
    border: 2px solid lightblue;
}

.height-max {
    height: 150px
}


.businessCard {
    width: 100%;
    min-width: 100px;
    margin-left: 5px;
    height: 150px;
}

p {
    text-indent: 1.5em;
    font-family: 'Poppins', sans-serif;
    font-style: italic;
    display:inline-block
}


.description {
    display: flex;
    align-items:flex-start  ;
    justify-content: space-between;
    padding-left: 5px;
}

.details 
{
    display: flex;
    flex-wrap: wrap;
}

.flexItem {
    flex: 1 0 200px
}

.companyDetails {
    min-width: 350px;
    border-radius: 3px;
    display: flex;
}


.imageSize2 {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    position: relative;
    min-height: 120px;
}

.carousel-indicators [data-bs-target] {
    background-color: blue!important;
}
.background-image {
    background-color: rgb(245, 248, 248);
}
.phoneColor {
    background-color: rgb(189, 229, 229);
    color: white;
}

.carousel-size,.carousel-item {
    height: 300px;
    width: 100%;
}

.the-slide {
	/* width: 750px; */
	/* height: 274px */
    aspect-ratio: 2 / 1;
    object-fit: contain;
	/* height: 0;
	display: block;
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	padding-bottom: 36.53333333333333%; */
}
.hidden {
	display:none;
}

.carouselSize {
    width: 100%;
    padding-bottom: 75%;	
}
.viberSize
{
    width: 16px;
    height: 16px;
}
.dataClass
{
    margin-left: 2px;
    background-color: rgb(206, 226, 246);
    border: 1px beige solid;
}
@media(max-width: 600px) {
    .imageSize {
        width: 175px;
        height: 100px
    }
 }
 @media(min-width: 601px) {
    .imageSize {
        width: 300px;
        height: 170px
    }

     }

img {
    width:100%;
    height:100%;
    object-fit: contain;
}

@media(max-width: 900px) {
    .galary {
        width: 100%;
    }
    .details {
        width: 100%;
    }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 80px;
  width: 80px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next, .carousel-control-prev {
    align-items:center;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 65px;
  font-weight: 600;
  color: rgb(18, 18, 58);
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 65px;
  font-weight: 600;
  color: rgb(18, 18, 58);
}

.show-list {
    display: none;
}

.show-radio {
    display: flex;
}

@media (max-width: 720px) {
    .show-list {
        display: flex;
    }
    
    .show-radio {
        display: none;
    }
} 