<!-- <div class="categoryMin categories" #categoriesElem id='categoriesMinElem'>
  <app-categoriesmin></app-categoriesmin>
</div>

<button class="btn btn-primary" (click)="login()">Login</button>
<router-outlet /> -->
<mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="isMobile() ? 56 : 0">
    <mat-sidenav #snav [mode]="isMobile() ? 'over' : 'over'"  appOutside [fixedInViewport]="isMobile()" fixedTopGap="56" (click)="this.menuService.showMenu.set(false)">
        <mat-nav-list style="position: relative; padding-top: 30px">
            <button class="material-symbols-outlined menu-burger" role="none"  (click)="this.menuService.showMenu.set(!this.menuService.showMenu())"> close </button>
            <div class="menu-container">
                @if (!logged) {
                    <a class="linkClass color2" [routerLink]="['/data/addNew']">
                        <div class="element">
                            <span class="text text-body-small-pale">Добави обява <i class="las la-plus-square iconSize"></i></span>
                        </div>
                    </a>
                } @else {
                    <div class="dropdown linkClass color2 menu-container" role="presentation">
                        <div class="element">
                            <span class="text text-body-small-pale">Добави обява <i class="las la-plus-square iconSize"></i></span>
                        </div>
                        <li class="dropdown-content menu-container" id="advert" role="presentation">
                            <ul aria-labelledby="admin" class="ulClass" [ngStyle]="{ 'z-index': '2' }">
                                @if (logged && seller && !admin) {
                                    <a [routerLink]="['/data/addCar']" [queryParams]="{ ad: 'new' }">Добави Кола</a>
                                }
                                @if (logged && seller && !admin) {
                                    <a [routerLink]="['/data/addBus']" [queryParams]="{ ad: 'new' }">Добави Бус</a>
                                }
                                <a [routerLink]="['/data/addPart']" [queryParams]="{ ad: 'new' }">Добави част за кола</a>
                                @if (logged && !admin) {
                                    <a [routerLink]="['/data/addPart']" [queryParams]="{ ad: 'new', bus: 1 }">Добави част за бус</a>
                                    <a [routerLink]="['/data/addTyre']" [queryParams]="{ ad: 'new' }">Добави Гума/Джанта</a>
                                }
                            </ul>
                        </li>
                    </div>
                }
                @if (logged) {
                    <div class="dropdown linkClass color2 menu-container" role="presentation">
                        <div class="element">
                            <span class="text text-body-small-pale">Моите обяви<i class="las la-newspaper iconSize"></i></span>
                        </div>
                        <li class="dropdown-content" [ngStyle]="{ 'min-width': '180px' }" id="changeAdvert" role="presentation">
                            <ul aria-labelledby="admin" class="ulClass">
                                @if (seller) {
                                    <a (click)="cars()" role="presentation" class="menu"
                                        >Коли
                                        @if (userCount$ | async; as userCount) {
                                            @if (userCount?.carCount) {
                                                <span class="count">{{ userCount.carCount }}</span>
                                            }
                                        }
                                    </a>
                                    <a (click)="bus()" role="presentation" class="menu"
                                        >Бус
                                        @if (userCount$ | async; as userCount) {
                                            @if (userCount?.busCount) {
                                                <span class="count">{{ userCount.busCount }}</span>
                                            }
                                        }
                                    </a>
                                }
                                <a (click)="parts()" role="presentation" class="menu"
                                    >Части
                                    @if (userCount$ | async; as userCount) {
                                        @if (userCount && userCount.partCarCount + userCount.partBusCount) {
                                            <span class="count">{{ userCount.partCarCount + userCount.partBusCount }}</span>
                                        }
                                    }
                                </a>
                                @if (seller) {
                                    <a (click)="tyres()" role="presentation" class="menu"
                                        >Гуми/Джанти
                                        @if (userCount$ | async; as userCount) {
                                            @if (userCount.rimWithTyreCount + userCount.tyreCount + userCount.rimCount) {
                                                <span class="count">{{ userCount.rimWithTyreCount + userCount.tyreCount + userCount.rimCount }}</span>
                                            }
                                        }
                                    </a>
                                }
                            </ul>
                        </li>
                    </div>
                }
                <div [routerLink]="['/checkout']" class="linkClass color2" style="background-color: var(--favoutite) !important" role="presentation">
                    <div class="element">
                        <span class="text text-body-small-pale"
                            >{{ checkout }}
                            @if (count) {
                                <i class="ms-1 la-star las saved sizeSaved"></i>
                            } @else {
                                <i class="ms-1 la-star lar saved sizeSaved"></i>
                            }
                        </span>
                    </div>
                </div>

                @if (!logged) {
                    <!-- @if (dialogLogin) {
                        <div class="linkClass color2" (click)="login()" role="presentation">
                            <div class="element">
                                <span class="text text-body-small-pale">Вход/Регистрация <i class="las la-user iconSize"></i></span>
                            </div>
                        </div> -->
                    <div class="linkClass color2" role="presentation">
                        <div class="element">
                            <a [routerLink]="['/login']" [queryParams]="{ ad: 'new' }">Вход/Регистрация</a>
                        </div>
                    </div>
                } @else {
                    <div class="dropdown linkClass color2" role="presentation">
                        <div class="element">
                            <span class="text text-body-small-pale">{{ exitName }}<i class="las la-user iconSize"></i></span>
                        </div>
                        <li class="dropdown-content" [ngStyle]="{ 'min-width': '100px', right: '0px' }" id="user" role="presentation">
                            <ul aria-labelledby="admin" class="ulClass" role="presentation">
                                <a (click)="details()" role="presentation">Детайли</a>
                                <a (click)="updatePassword()" role="presentation">{{ labels.UPDATEPASSWORD }}</a>
                                <a (click)="logout()" role="presentation">Изход</a>
                            </ul>
                        </li>
                    </div>
                }
            </div>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <div [ngClass]="{ 'main-class': true }" class="main-style">
            <div class="main">
                @if (!dealerWebaPage) {
                    <app-nav-menu style="display: block; width: 100%"></app-nav-menu>
                }

                <div class="componentPadding">
                    <router-outlet (activate)="onActivate($event, outlet)" #outlet></router-outlet>
                </div>
            </div>
            <div class="footer">
                <app-footer></app-footer>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
