.main-container {
    display: inline-flex;
    border-radius: 4px;
    padding: 4px 0px 4px 0px;
    width: 100%;
}
.password-input {
    width: inherit;
}
.password-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.input-group-text-height {
    height: 100%;
}

input:focus {
    outline: 2px solid lightblue;
}

.visible {
    position: relative;
    height: 100%;
    width: 28px;
    font-size: 1.2em;
    padding: 0 2px 0 2px;
    border: none;
    background-color: transparent;
    margin: 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
}

.material-symbols-outlined {
    padding: 0px;
    font-size: 1em;
}
