<div class="input-group w100 mb-2 mt-2 w-100">
    <span class="input-group-text material-symbols-outlined ps-2 pe-2"> {{ prefix() }} </span>
    <input appAutofocus tabindex="0"
        [value]="value()"
        type="text"
        id="{{controlName()}}"
        class="form-control"
        placeholder="{{ placeHolder() }}"
        autocomplete="{{ controlName() }}"
        attr.aria-label="{{ placeHolder() }}"
        aria-describedby="basic-addon2"
        [ngClass]="{ 'is-invalid': submitted() && isInvalid() }"
        [(ngModel)]="value"
        (input)="change()" />
</div>
@if (submitted() && hasErrors()) {
    <div class="text-danger"  style="line-height: normal;">
        @if (errors_()?.get('required')) {
            <div data-cy="userNameRequiredError">Въведи {{ placeHolder() }}</div>
        }
        @else if (errors_()?.get('pattern') || errors_()?.get('maxlength') || errors_()?.get('minlength')) {
            <div>Телефоният номер трябва да се най-малко 10 цифри</div>
        }
        @else {
            <div>Телефоният номер не е валиден</div>
        }
    </div>
}

