.carousel-inner {
    height: 100%;
    position: relative;
    cursor: zoom-in;
}

.preview {
    position: absolute;
    top: 0px;
    right: 10px;
    width: 40px;
    height: 40px;
    font-size: 2em;
    background-color: blue;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    }