<div class="dialog-position modal fade show col-sm-6" tabindex="1000" role="dialog" [ngStyle]="{ display: 'block' }">
    <div class="modal-dialog" role="document">
        <div class="modal-content sizeDialog">
            <div class="modal-header bg-info">
                <h6>{{ labels.UPDATEPASSWORD }}</h6>
            </div>
            <div class="modal-body" style="background-color: aliceblue">
                <form [formGroup]="passwordForm" (ngSubmit)="onOk()" class="mb-3 me-3">
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text"><i class="las la-lock"></i></span>
                        <input
                            formControlName="oldPassword"
                            id="passwordOldPasswordInput"
                            type="{{ typeOldPassword }}"
                            class="form-control col-sm-2"
                            placeholder="{{ labels.PASSWORD }}"
                            autocomplete="{{ autocomplete }}"
                            [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
                        <span class="input-group-text"
                            ><i class="las" [ngClass]="{ 'la-eye': showOldPasswordFlag, 'la-eye-slash': !showOldPasswordFlag }" (click)="showOldPassword()" role="none"></i
                        ></span>
                        <!-- <i class="las la-eye" id="togglePassword2"
                                style="margin-left: -30px; cursor: pointer;" (click)="show()"></i> -->
                        @if (submitted && f['oldPassword'].errors) {
                            <div class="invalid-feedback">
                                @if (f['oldPassword'].errors['required']) {
                                    <div data-cy="passwordRequired">
                                        {{ labels.PASSWORDREQUIRED }}
                                    </div>
                                }
                            </div>
                        }
                    </div>

                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text"><i class="las la-lock"></i></span>
                        <input
                            formControlName="password"
                            id="passwordInput21"
                            type="{{ type }}"
                            class="form-control col-sm-2"
                            placeholder="{{ labels.PASSWORD }}"
                            autocomplete="{{ autocomplete }}"
                            [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
                        <span class="input-group-text"><i class="las" [ngClass]="{ 'la-eye': showFlag, 'la-eye-slash': !showFlag }" (click)="show()" role="none"></i></span>
                        <!-- <i class="las la-eye" id="togglePassword2"
                                style="margin-left: -30px; cursor: pointer;" (click)="show()"></i> -->
                        @if (submitted && f['password'].errors) {
                            <div class="invalid-feedback">
                                @if (f['password'].errors['required']) {
                                    <div data-cy="passwordRequired">
                                        {{ labels.PASSWORDREQUIRED }}
                                    </div>
                                }
                            </div>
                        }
                    </div>

                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text"><i class="las la-lock"></i></span>
                        <input
                            formControlName="password2"
                            id="passwordInput22"
                            type="{{ type2 }}"
                            class="form-control"
                            placeholder="{{ labels.PASSWORD2 }}"
                            autocomplete="{{ autocomplete }}"
                            [ngClass]="{ 'is-invalid': submitted && f['password2'].errors }" />
                        <span class="input-group-text"><i class="las" [ngClass]="{ 'la-eye': showFlag2, 'la-eye-slash': !showFlag2 }" (click)="show2()" role="none"></i></span>
                        <!-- <i class="las la-eye" id="togglePassword2"
                                style="margin-left: -30px; cursor: pointer;" (click)="show()"></i> -->
                        @if (submitted && f['password2'].errors) {
                            <div class="invalid-feedback">
                                @if (f['password2'].errors['required']) {
                                    <div data-cy="passwordRequired2">
                                        {{ labels.PASSWORDREQUIRED }}
                                    </div>
                                }
                            </div>
                        }
                    </div>
                    <div>
                        <span class="alert-danger">{{ error }}</span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-sm me-2" type="submit" (click)="onOk()">Ok</button>
                <button class="btn btn-secondary btn-sm" data-dismiss="modal" (click)="cancel()">Cancel</button>
            </div>
        </div>
    </div>
</div>
