.modal-dialog {
    max-width: 300px;
}

.dialog-position 
{
    display : block;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width : 25%;
    transform : translate(-50%, -50%);
    z-index: 1060;
}

.sizeDialog
{
    width: 350px;
}