.selected {
    border: 1px solid lightgray;
    background: white;
    border-radius: 0px;
    font-weight: 400;
    color: black;
    position: relative;
    order: 0;
    font-size: 0.9em;
    display: block;
    font-family: var(--bs-body-font-family);
}

.multiselection {
    margin-top: 2px;
    display: flex;
    flex-wrap: wrap;
}

.button-group {
    display: inline-flex;
    justify-content: flex-end;
}

.selection {
    flex-grow: 1;
}

.selected-button
{
    content: "";
    color: black;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px 12px;
    width: 26px;
    padding-left: 2px;
    padding-right: 2px;
    height: 24px;
}

.close-button {
    top: 2px;
    height: auto;
    width: 16px;
    right: 40px;
}
