################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectEvaluation
/.vs/Rado/CopilotIndices/17.14.1518.61961
/.vs/Rado/FileContentIndex
/.vs/Rado/DesignTimeBuild
/.vs/Rado/v16
/.vs/Rado/v17/TestStore/0
/.vs/Rado/v17
/Database/bin
/.vs/Rado/config
/Database/Import Schema Logs
/Database/obj
/Database/Database.publish.xml
/Database/Database.publish2.xml
/Database/Database.refactorlog
/Database/Database.sqlproj.user
/dealerWebPage
/EMail/bin/Debug/net8.0
/EMail/obj
/FetchData/bin
/FetchData/obj
/GetData/.vs
/GetData/bin
/GetData/ILLink
/FetchData/ILLink
/GetData/obj
/ImageConverter/bin/Debug/net8.0
/ImageConverter/NewFolder
/ImageConverter/obj
/ImageConvertor/bin/Debug/net8.0
/ImageConvertor/obj
/ImageTest/bin/Debug/net8.0
/ImageTest/obj
/Models/bin
/Models/obj
/Security/bin
/Security/obj
/Settings/bin
/Settings/obj
/Utility/bin
/TestProject/.vs
/Rado/obj
/Rado/part365/.angular/cache/18.2.11/part365
/Rado/part365/.vscode
/Rado/part365/dist/part365/browser
/Rado/part365/dist/part365
/TestProject/bin/Debug/net8.0
/TestProject/obj
/packages
/Rado/bin/Debug/net8.0
/Utility/obj/Debug/net8.0/Utility.AssemblyInfoInputs.cache
/Utility/obj/Debug/net8.0/Utility.csproj.AssemblyReference.cache
/Utility/obj/Debug/net8.0/Utility.csproj.CoreCompileInputs.cache
/Utility/obj/Debug/net8.0/Utility.csproj.FileListAbsolute.txt
/Utility/obj/Debug/net8.0/Utility.dll
/Utility/obj/Debug/net8.0/Utility.pdb
/Utility/obj/Debug/net8.0/Utility.sourcelink.json
/Utility/obj/Debug/net8.0/refint/Utility.dll
/Utility/obj/Debug/net8.0/Utility.AssemblyInfo.cs
/Utility/obj/Debug/net8.0/ref/Utility.dll
