#login img{
    margin: 10px 0;
  }
  #login .center {
    text-align: center;
  }
  
  #login .login {
    max-width: 300px;
    margin: 35px auto;
  }
  
  #login .login-form{
    padding:0px 25px;
  }

  .modal-content {
    width: auto!important;
  }
  
  .card{
    width: 400px;
    border: none!important;
  }
  
  :root {
    --mdc-dialog-container-shape: 10px;
  }
  
  .btr{
  
    border-top-right-radius: 5px !important;
  }
  
  
  .btl{
  
    border-top-left-radius: 5px !important;
  }
  
  .btn-dark {
      color: #fff;
      background-color: #0d6efd;
      border-color: #0d6efd;
  }
  
  
  .btn-dark:hover {
      color: #fff;
      background-color: #0d6efd;
      border-color: #0d6efd;
  }
  
  form {
    max-width: 350px;
  }
  
  .nav-pills{
  
    display:table !important;
    width:100%;
  }
  
  .nav-pills .nav-link {
      border-radius: 0px;
          border-bottom: 1px solid #0d6efd40;
  
  }
  
  .input-group > * {
    width: 100%;
  }
  .nav-item{
        display: table-cell;
         background: #0d6efd2e;
  }
  
  
  .form{
  
    padding: 10px;
        height: 300px;
  }
  
  .form input{
  
    margin-bottom: 12px;
    border-radius: 3px;
  }
  
  
  .form input:focus{
  
    box-shadow: none;
  }
  
  
  .form button{
  
    margin-top: 20px;
  }

  .login-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }
  .sizeDialog
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    opacity: 0.99;
    position: relative;
    z-index: 10000;
    max-width: 300px;
}

.card {
  background-color: transparent!important;
}