<div class="login-container">
    <div class="card sizeDialog" (keydown)="click($event)" tabindex="0">
        @if (!webLogin) {
            <h4 class="card-header d-flex justify-content-center">Вход</h4>
        }
        <div class="card-body">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item text-center" (click)="login()" [attr.role]="'none'">
                    <a class="nav-link btl" [ngClass]="{ active: loginFlag }" id="pills-home-tab" data-toggle="pill" data-cy="login" role="tab" aria-controls="pills-home" aria-selected="true">Вход</a>
                </li>
                <li class="nav-item text-center" (click)="register()" [attr.role]="'none'">
                    <a
                        class="nav-link btr"
                        [ngClass]="{ active: !loginFlag }"
                        id="pills-profile-tab"
                        data-toggle="pill"
                        data-cy="registration"
                        role="tab"
                        aria-controls="pills-profile"
                        aria-selected="false"
                        >Регистрация</a
                    >
                </li>
            </ul>
            <form [formGroup]="loginForm" autocomplete="{{ autocomplete }}">
                @if (loginFlag) {
                    <app-user formControlName="userName" prefix=" person " controlName="username" data-cy="loginUserName" [submitted]="submitted" placeHolder="{{ labels.LOGINNAME }}"> </app-user>
                    <app-inputpassword formControlName="password" placeHolder="Въведи парола"></app-inputpassword>
                    @if (submitted && controls['password'].errors) {
                        <div class="invalid-feedback">
                            @if (controls['password'].errors['required']) {
                                <div data-cy="passwordRequiredError">{{ labels.PASSWORDREQUIRED }}</div>
                            }
                        </div>
                    }

                    @if (submitted && error) {
                        <div class="text-danger">
                            <div data-cy="errorMessage">{{ error }}</div>
                        </div>
                    }

                    <a [routerLink]="['/user/recovery']" class="mt-4 mb-4 link-primary" (click)="forgottenPassword()">Забравена парола / Отблокиране</a>

                    <div class="form-group d-flex justify-content-between mt-2">
                        <button class="btn btn-secondary" style="float: right" (click)="cancel()">Cancel</button>
                        <button [disabled]="loading" class="btn btn-primary" data-cy="Login" (click)="onSubmit()">
                            @if (loading) {
                                <span class="spinner-border spinner-border-sm mr-1"></span>
                            }
                            Login
                        </button>
                    </div>
                } @else {
                    <div class="container">
                        <div class="input-group input-group-sm mb-3">
                            <app-user formControlName="userName" prefix=" person " controlName="userName" data-cy="loginUserName" [submitted]="submitted" placeHolder="{{ labels.REGNAME }}">
                            </app-user>
                            <app-user formControlName="email" prefix=" mail " controlName="email" data-cy="loginUserName" [submitted]="submitted" placeHolder="{{ labels.EMAIL }}"> </app-user>
                            <app-user formControlName="phone" prefix=" call " controlName="phone" data-cy="phone" [submitted]="submitted" placeHolder="{{ labels.PHONE }}"> </app-user>
                            <app-inputpassword formControlName="password" [submitted]="submitted" placeHolder="Въведи парола"></app-inputpassword>
                            <app-inputpassword formControlName="confirmPassword" [submitted]="submitted" placeHolder="Потвърди паролата"></app-inputpassword>
                        </div>
                    </div>

                    <div class="d-flex mb-2">
                        <div class="form-check form-check-inline">
                            <input id="private" type="radio" class="custom-control-input form-check-input" data-cy="private" [value]="0" name="dealer" formControlName="dealer" />
                            <label class="custom-control-label" for="private">Частно лице</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input id="dealer" type="radio" class="custom-control-input form-check-input" data-cy="dealer" [value]="1" name="dealer" formControlName="dealer" />
                            <label class="custom-control-label" for="dealer">Дилър</label>
                        </div>
                        <div class="form-check form-check-inline" hidden>
                            <input id="noChoise" type="radio" class="custom-control-input form-check-input" data-cy="dealer" [value]="2" name="dealer" formControlName="dealer" checked />
                            <label class="custom-control-label" for="dealer">Няма избран</label>
                        </div>
                    </div>
                    @if (submitted && controls['dealer'].errors) {
                        <div class="text-danger p-0 fs-6" style="line-height: normal">
                            <div data-cy="passwordRequiredError">Изберете часно лице / дилър</div>
                        </div>
                    }
                    <div class="form-check mb-2">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" formControlName="contract" data-cy="contract" />
                        <label class="form-check-label" for="flexCheckChecked">
                            <a [routerLink]="['/terms']" target="_blank">Съгласен с условията и политиката за защита на личните данни.</a>
                        </label>
                    </div>
                    @if (submitted && controls['contract'].errors) {
                        <div class="invalid-feedback">
                            @if (controls['contract'].errors) {
                                <div data-cy="contractError">Моля съгласете се с условията и политиката за защита на личните данни.!</div>
                            }
                        </div>
                    }
                    @if (submitted && error) {
                        <div class="text-danger me-2">
                            <div [ngStyle]="{ color: 'red', 'margin-bottom': '2px' }" data-cy="errorMessage">{{ error }}</div>
                        </div>
                    }

                    <div class="form-group d-flex justify-content-between mt-4">
                        <button class="btn btn-secondary" (click)="cancel()" [attr.role]="'none'">Cancel</button>
                        <button [disabled]="loading" class="btn btn-primary" type="submit" data-cy="Login" (click)="onOk()">
                            @if (loading) {
                                <span class="spinner-border spinner-border-sm mr-1"></span>
                            }
                            {{ buttonName }}
                        </button>
                    </div>
                }
            </form>
        </div>
    </div>
</div>
