input {
    display: none;
}

.radio-item [type="radio"]:checked~label {
    border-color: #524eee;
}

label {
    font-size: 1.2em;
    padding-left: 5px;
    padding-right: 5px;
}
input:checked+label,
input+label
{
    transition: background-color 1s;
}
.radio-group,
input+label {
    border-radius: 8px;
    height: 42px;
}

.radio-group {
    display: inline-flex;
    border: 1px solid aquamarine;
}

body {
    box-sizing: border-box;
}

/* input+label:nth-last-of-type() {
    margin: 0px;
} */
input+label {
    padding: 8px 20px;
    width: inherit;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: rgb(233, 233, 239);
    height: 40px;
}
input:checked+label {
    color: blue;
    border: 2px solid aquamarine;
    background-color: aquamarine;
    padding: 8px 20px;
    font-weight: 500;
    border-bottom: 5px solid var(--active-borderbottom);
}

.radio-button {
    box-sizing: border-box;
    display: block;
    cursor: pointer;
}
