

marquee {
    background-color: lightskyblue;
    color: white;
    font-weight: 200;
}

.layout {
    display: inline-flex;
    width: 100%;
}


.card-form-spec 
{
    padding: 6px 20px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 100%;
    font-weight: 600;
}

.tooltip-inner {
 background-color: lightblue;
 color: black;   
}

.flex-end {
    justify-content: flex-end;
}
.flex-item {
    justify-content: flex-end;
}

.buttonSize {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    max-width: 150px;
}

.button-move {
   background-color: blue; 
   color: yellow;
   padding: 2px;
   border-radius: 2px;
   max-width: 100px;
}
.min120px {
    min-width: 120px;
}
.extended {
    background-color: slateblue;
    color: white;
}
.btn-search {
    background-image: linear-gradient(135deg, #4649f0 40%, #2a0ec4);
    color:  whitesmoke;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(153, 63, 51, 0.75);
    margin-bottom: 2px;
}

.small-screen {
    display: none;
}
.normal-screen {
    display: block;
}

.btn-clear {
    background-image: linear-gradient(135deg, #9f79b1 40%, #420335);
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(153, 63, 51, 0.75);
    margin-bottom: 2px;
}


input[type="checkbox"] {
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
  }

.checkboxClass {
    margin-top: 2px;
    margin-bottom: 8px;
    font-size: 1.1em;
} 

.advert {
    height: 200px;
    background-color: lightyellow    
}

.background-image {
    background-color: #cccccc;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.outline-none {
    outline: none!important;
}

/* @media(min-width: 900px) {
    .categories {
        width: 20%;
    }
    .homeForm {
        width: 70%;
    }
} */

.homeForm {
    background-color: #f1f9ff 
}

@media(max-width: 900px) {
    .categories {
        width: 100%;
    }

    .background-image {
        display: none;
    }

    .homeForm {
        width: 100%;
    }
}

@media(max-width: 1200px) {
    .control {
        width: 100%;
    }
}

.footer {
    display: none;
    position: absolute;
    bottom: 0;
    position: fixed;
}

.head {
    display: none;
    position: fixed;
    background-color: white;
    padding: 10px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.footer {
    position: fixed;
    background-color: white;
    padding: 10px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.footer-button {
    font-size: 1.6em;
    border: none;
    background-color: white;
}

.space-evenly {
    justify-content: space-evenly;
}

.marginTop {
    margin-top: 200px;
}
@media screen and (min-width: 0px) and (max-width: 900px) {
    .small-screen {
        display: block;
    }
    .normal-screen {
        display: none;
    }
    
    
.outline-none {
    margin-top: 6px;
    padding-top: 0;
    padding-bottom: 0;
}

.margin-none {
    margin-top: 0px!important;
}

.padding-none {
    padding-top: 0px;
}
    .marginTop {
        margin-top: 0px;
    }

    .categoryMax {
        display: none;
    }
        
    .app-categories {
        bottom: 50px;
    }


    .head {
        display: flex;
    }

    .footer {
        font-size: 10em;
        display: flex;
        position: fixed;
        padding: 6px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        box-sizing: border-box;
        width: 100%;
        text-align: center;
        font-size: 14px;
    }

    .element {
        display: inline-block;
        text-align: center;
    }

    .text {
        display: block;
        clear: both;
    }

    .iconSize {
        font-size: 2em;
    }

    .icon {
        height: 24px;
        width: 24px;
    }
    
    .linkClass {
        color: black;
        border-radius: 3px;
        min-width: 18%;
        box-shadow: 2px 2px 2px 2px rgba(46, 229, 157, 0.4);
    }


    .linkClass:hover {
        background-color: lightgrey;
        color: blue;
        box-shadow: 2px 2px 2px 2px rgba(229, 46, 95, 0.4);
}

    .text-body-small-pale {
        font-family: roboto, sans-serif;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 18px;
    }
}

.categoryMax {
    min-width: 350px;
}
