@import "app/field-style.css";

.currency {
    min-height: calc(1.5px + 2px);
    max-width: 6em;
    font-size: 1.4em;
    padding: 0rem 0.5rem;
}


.keywordClass {
    background-color: rgb(182, 250, 146);
    color: black
}

.active:active {
    box-shadow: 2px 2px 2px 2px rgba(218, 110, 110, 0.5);
}
