.price {
    color: blue;
    font-size: larger;
    font-weight: bolder;
    min-width: 100px;
}

.line {
    align-items: center;
    border-bottom: 1px solid rgb(232, 231, 230);
    display: flex;
    min-height: 2rem;
    font-size: 1rem;
    line-height: 1;
    font-variation-settings: "wght" 400;
    -webkit-font-smoothing: antialiased;
    font-family: Roboto, ATVFabriga, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif !important;   
    background-color: inherit;
}

.flex {
    display: flex;
    flex-direction: column;
}
.labelText {
    color: blue;
}

.fontWeight
{
    font-weight: bold;

}
.test
{
    display: flex;
    align-content: space-between;
}

.parent
{

    display: grid;
    padding: 2px 5px;
    grid-template-columns: minmax(150px, 35%) auto;
}