.search-button {
    background-color: var(--search-button-bgcolor);
    color: var(--search-button-color);
    border: 1px solid var(--search-button-bgcolor);
}

.search-button:hover {
    background-color: var(--search-button-bgcolor-hover);
    color: var(--search-button-color-hover);
}

.buttonSize {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    max-width: 150px;
}
