.top-link {
    transition: all .25s ease-in-out;
    position: fixed;
    bottom: 0;
    right: 0;
    display: inline-flex;
    
    background-color: paleturquoise;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin: 0 1em 4em 0;
    border-radius: 50%;
    padding: .25em;
    width: 40px;
    height: 40px;
  }
  
  
  