<div class="container">
    <h2 class="text-center">Актуализация за данните</h2>

    @if (loading) {
        <div class="gap-2 d-flex justify-content-md-end">
            <a (click)="view()" class="btn adButton halfSizeButton heightButton" role="none">Всичките мои обяви</a>
            <button [disabled]="loading" class="btn btn-primary halfSizeButton heightButton" (click)="updatePassword()">
                <span class="spinner-border spinner-border-sm mr-1"></span>
                {{ labels.CHANGEPASSWORD }}
            </button>
            <button [disabled]="loading" class="btn deleteBtn halfSizeButton heightButton" (click)="onDelete()">
                <span class="spinner-border spinner-border-sm mr-1"></span>
                Изтрий Акаунт
            </button>
            <button class="btn logoutBtn halfSizeButton heightButton" (click)="onLogout()">
                <span class="spinner-border spinner-border-sm mr-1"></span>
                <i class="las la-sign-out-alt pe-2"></i>{{ labels.LOGOUT }}
            </button>
        </div>
    }

    <form (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-sm-2">
                <app-input [formField]="userForm.userName" label="{{ labels.USERNAME }}" placeHolder="{{ labels.USERNAME }}" [IsRequired]="true" [submitted]="submitted"> </app-input>
            </div>
            <div class="col-sm-6 mt-4">
                @if (isDealer) {
                    <div class="btn dealerBtn" (click)="userPrivate()" role="none">Стани частно лице</div>
                }
                @if (isUser) {
                    <div class="btn dealerBtn" (click)="userDealer()" role="none">Стани дилър</div>
                }
            </div>
        </div>
        <div class="row">
            @if (isDealer) {
                <div class="col-sm-2">
                    <app-input [formField]="userForm.companyName" label="{{ labels.COMPANYNAME }}" placeHolder="{{ labels.COMPANYNAME }}" [submitted]="submitted" [IsRequired]="true"> </app-input>
                </div>
                @if (submitted && !userForm.companyName().valid()) {
                    <div class="invalid-feedback">
                        @if (userForm.companyName().getError('required')) {
                            <div data-cy="userNameRequired">{{ labels.USERNAMEREQUIRED }}</div>
                        }
                    </div>
                }
            } @else {
                <div class="col-sm-2">
                    <app-input [formField]="userForm.firstName" label="{{ labels.FIRSTNAME }}" placeHolder="{{ labels.FIRSTNAME }}" [submitted]="submitted" [IsRequired]="true"> </app-input>
                    @if (submitted && !userForm.firstName().valid()) {
                        <div class="invalid-feedback">
                            @if (userForm.firstName().getError('required')) {
                                <div data-cy="userNameRequired">{{ labels.USERNAMEREQUIRED }}</div>
                            }
                        </div>
                    }
                </div>
                <div class="col-sm-2">
                    <app-input [formField]="userForm.lastName" label="{{ labels.LASTNAME }}" placeHolder="{{ labels.LASTNAME }}" [submitted]="submitted"> </app-input>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-sm-2">
                <app-select [formField]="userForm.regionId" label="{{ labels.REGION }}" [submitted]="submitted" [data]="regions" [submitted]="submitted" [IsRequired]="true"> </app-select>
                @if (submitted && !userForm.regionId().valid()) {
                    <div class="invalid-feedback">
                        @if (userForm.regionId().getError('required')) {
                            <div data-cy="userNameRequired">{{ labels.USERNAMEREQUIRED }}</div>
                        }
                    </div>
                }
            </div>
            <div class="col-sm-3">
                <app-input [formField]="userForm.address" label="{{ labels.ADDRESS }}" placeHolder="{{ labels.ADDRESS }}" [submitted]="submitted"> </app-input>
                @if (submitted && !userForm.address().valid()) {
                    <div class="invalid-feedback">
                        @if (userForm.address().getError('required')) {
                            <div data-cy="userNameRequired">{{ labels.USERNAMEREQUIRED }}</div>
                        }
                    </div>
                }
            </div>
            <div class="col-sm-2">
                <app-input [formField]="userForm.city" label="{{ labels.CITY }}" placeHolder="{{ labels.CITY }}" [submitted]="submitted"> </app-input>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2">
                <app-input [formField]="userForm.phone" label="{{ labels.PHONE }}" [IsRequired]="true" placeHolder="{{ labels.PHONE }}" [submitted]="submitted"> </app-input>
            </div>
            <div class="col-sm-2">
                <app-input [formField]="userForm.phone2" label="{{ labels.PHONE2 }}" placeHolder="{{ labels.PHONE2 }}" [submitted]="submitted"> </app-input>
            </div>
            <div class="col-sm-2">
                <app-input [formField]="userForm.viber" label="{{ labels.VIBER }}" placeHolder="{{ labels.VIBER }}" [submitted]="submitted"> </app-input>
            </div>
            <div class="col-sm-2">
                <app-input [formField]="userForm.whats" label="{{ labels.WHATS }}" placeHolder="{{ labels.WHATS }}" [submitted]="submitted"> </app-input>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <app-input [formField]="userForm.email" label="{{ labels.EMAIL }}" placeHolder="{{ labels.EMAIL }}" [IsRequired]="true" [submitted]="submitted"> </app-input>
            </div>

            @if (dealer) {
                <div class="col-sm-3">
                    <app-input
                        [formField]="userForm.webPage"
                        label="{{ labels.WEBPAGE }}"
                        placeHolder="{{ labels.WEBPAGE }}"
                        [submitted]="submitted"
                        [suffix]="'.radoparts.com'"
                        [id]="'webPage'"
                        [prefix]="'https://'">
                    </app-input>
                </div>
            }
        </div>
        <app-input [formField]="userForm.imageId" [ngStyle]="{ display: 'none' }"> </app-input>

        @if (isDealer) {
            <div class="row">
                <app-textarea [formField]="userForm.description" placeHolder="{{ labels.DESCRIPTIONCOMPANY }}"></app-textarea>
            </div>
        }

        @if (submitted && error) {
            <div class="text-danger">
                <div data-cy="errorMessage">{{ error }}</div>
            </div>
        }

        @if (isDealer) {
            <div class="row">
                @if (!businessCardimage) {
                    <div class="row">
                        <app-upload [id]="userId()!" [multiple]="false" [businessCard]="true" (uploadFinished)="addBusinessCard($event)" [addPicture]="'Качете бизнес карта'"> </app-upload>
                    </div>
                }
                @if (businessCardimage) {
                    <div class="imageSize backgroundSize img-thumbnails business-card" [style.background-image]="'url(' + businessCardimage.imageSrc! + ')'"></div>
                    <button class="btn btn-primary mt-1 mb-1" (click)="deleteBusinessCard()">Изтрий Бизнес Карта</button>
                }
                <div class="row">
                    <h5>Качете Вашите фирмени снимки</h5>
                </div>
                <div class="row">
                    <app-upload [id]="userId()!" [multiple]="true" [businessCard]="false" (uploadFinished)="imagesAdded($event)" [camera]="true" [addPicture]="'Качете снимка'"> </app-upload>
                </div>
                <div class="row mt-2">
                    <app-picture [id]="userId()" [images]="images" [updateFlag]="true" [mainImageFlag]="false"></app-picture>
                </div>
        </div>
        }
    </form>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button [disabled]="loading" class="btn saveButton" (click)="onSubmit()">
            @if (loading) {
                <span class="spinner-border spinner-border-sm mr-1"></span>
            }
            {{ labels.SAVE }}
        </button>
        <button class="btn returnButton" (click)="onCancelChanges()">Откажи промените</button>
    </div>
</div>
