<div class="container">
  <h1 class="title title-medium-dark">За връзка с нас</h1>
  <div class="info">
      <div class="text-dark">
        <p>&nbsp;</p>
        <h3>Уважаеми клиенти и партньори, за връзка с нас&nbsp;пишете ни на:</h3>
        <h3>Email: &nbsp;<strong><a
              href= {{href}}>{{email}}</a>&nbsp;</strong></h3>
        <p>&nbsp;</p>
        <p><strong>За запитвания&nbsp;телефон:&nbsp;</strong></p>
        <h2><strong><a href="tel:+359878950085">+359 878950085</a></strong></h2>
        <p>&nbsp;</p>
        <pre>&nbsp;</pre>
        <p>&nbsp;</p>
        <div>
          <div>&nbsp;</div>
        </div>
        <div>
          <div>&nbsp;</div>
        </div>
      </div>
  </div>
      <div><button class="btn btn-primary" (click)="goBack()">Назад</button></div>

</div>