.padding {
    padding: 0 60px 0 0;
}
.container {
    position: fixed;
    bottom: 0px;
    right: 0px;
    z-index: 1;
}

.size-icon {
    height: 48px;
    width: 48px;
    font-size:36px; 
    justify-content: center;
    align-items: center;
}

.baloon {
    position: absolute;
    height: 48px;
    right: 16px;
    top: 10vh;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 1px 1px lightgray;
    background-color: whitesmoke;
    display: flex;
}
