<div class="container  p-s">
  <div class="baloon d-flex flex-row" (click)="option1Clicked()" role="none">
    <span><i class="rounded-3 d-flex p-2 align-items-center lar la-save size-icon mb-2 saveButton"
        data-bs-toggle="tooltip" data-bs-placement="left" data-bs-title="Запиши" matTooltip="Запиши"
        matTooltipPosition="left"></i></span>
    <span><i (click)="option2Clicked()" role="none"
        class="rounded-3 d-flex p-2 align-items-center las la-undo size-icon returnButton" data-bs-toggle="tooltip"
        data-bs-placement="left" data-bs-title="Назад" matTooltip="Назад" matTooltipPosition="left"></i></span>
  </div>
</div>