    <div class="grouplist">
        <div class="radio-group" #radioGroup>
            <!-- @if (label()) {
                <span class="radio-label me-2 align-items-center mt-1">{{ label() }} :</span>
            } -->
            <div class="tags">
                @for (radio of radios(); track radio.id) {
                    @if (radios().length || all()) {
                        <div class="radio-button" [ngClass]="{ style1: style() === 1, style2: style() === 2 }" role="none" >
                            <input type="radio" name="{{controlName()}}" id="{{controlName()}}" [value]="value() " />
                            <label class="radio-label" for={{controlName()}} role="none" 
                                >{{ radio.label }}
                                @if (radio.count) {
                                    <div class="number">{{ radio.count }}</div>
                                }
                            </label>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <!-- <div class="selectlist">
        @if (label()) {
            <span class="radio-label me-2 align-items-center mt-1">{{ label() }} :</span>
        }
        <app-select-base [data]="selection" [initialValue]="_value" (changeOption)="click($event)"></app-select-base>
    </div> -->
