<div  role="dialog">
    <h2 mat-dialog-title id="confirm-header" class="confirm-header" #confirmheader>{{header}}</h2>
    <mat-dialog-content #confirmcontent class="content">
      {{content}}
    </mat-dialog-content>
    <mat-dialog-actions>
        <button class='btn btn-secondary btn-sm' data-cy="confirmDialogCancel"
            [ngStyle]="{'display': showButtonCancel?'block':'none'}" data-dismiss="modal"
            mat-button mat-dialog-close>
            Cancel
        </button>
        <button class='btn btn-primary btn-sm me-2' data-cy="confirmDialogOK"
            [ngStyle]="{'display': showButtonOk?'block':'none'}" type="submit" mat-button [mat-dialog-close]="true">
            Ok
        </button>
    </mat-dialog-actions>
</div>

