<div class="select__margin">
    <div class="select__container">
        <div class="select__field">
            <select
                name="selectedValue"
                class="form-select form-select-sm shadow"
                [(ngModel)]="selectedValue"
                [ngClass]="{ 'is-invalid': submitted() && isInvalid }"
                (change)="onChangeSelect()">
                @for (element of _data; track element.value) {
                    <option [ngStyle]="{ 'background-color': element.color }" [attr.disabled]="element.isDisabled" [ngValue]="element.value">{{ element.text }} {{ element.count }}</option>
                }
            </select>
        </div>
        <div class="select__label">
            <div [ngClass]="{ required: isRequired }">
                {{ label() }}
                @if (label() && isRequired()) {
                    <span class="fw-bold" [ngStyle]="{ color: 'red', 'font-size': '1em', 'padding-left': '2px' }">*</span>
                }
            </div>
        </div>
        @if (submitted() && isInvalid()) {
            <div class="invalid-feedback d-block">
                <small>{{ errorMessage }}</small>
            </div>
        }
    </div>
</div>
