.row-style 
{
    display:flex;
    flex-wrap:wrap;
}

a:hover {
    cursor: pointer;
}

.imageDiv {
    box-sizing: border-box;
    float: left;
    margin-bottom: 2px;
    padding: 2px;
    position: relative;
}

.alightRight {
    float: left;
}

.row-style:hover {
    color: purple;
}
.paddingRow {
    padding-right: 0.3rem !important;
}


.companyPadding {
    padding-left: 2px;
    padding-right: 0px;
    cursor: pointer;
}

.company2 {
    background-color: white;
}

@media(max-width: 600px) {
    .carImage {
        width: 180px;
        height: 150px
    }

    .favourite {
        padding-right: 0px;
        display: none;
    }

    .favouriteMobile {
        padding-right: 2px;
        display: block;
    }

    .companyRight {
        display: block;
    }

    .companyMin {
        width: 180px;
        height: 150px;
        display: block;
    }

    .companySize {
        max-inline-size: 100%;
        height: 4em;
        cursor: pointer
    }
  
    .width10
    {
        width: 10%;
    }
    
    .width40
    {
        width: 40%;
    }
    .width40
    {
        width: 30%;
        padding-right: 2px
    }

    .width50
    {
        width: 70%;
    }

    .image2 {
        width: 220px;
        height: 130px;
    }
    .company {
        display: none;
    }
}

@media(min-width: 601px) {
    .carImage {
        width: 240px;
        height: 200px
    }

    .favourite {
        display: block;
    }

    .favouriteMobile {
        display: none;
    }

    .companyRight {
        display: none;
    }

    .companyMin {
        display: none;
    }

    .company {
        height: 100%;
        display: block;

    }
    .companySize {
        width: 16em;
        height: 6em;
        cursor: pointer
    }
    }

    .padding6 {
        padding-left: 6px;
    }
    

.blocked 
{
    background-color:rgb(238, 52, 5)
}   

.notApproved 
{
    background-color:lightgreen;
}    

.approved 
{
    background-color: rgb(204, 255, 255)
}    

.highlighted {
    background-color: beige; 
}

.normal {
    background-color: rgb(204, 255, 255)
}
