@import 'bootstrap/scss/_functions.scss';
@import 'bootstrap/scss/_variables.scss';
@import 'bootstrap/scss/mixins/_breakpoints.scss';

.rowCar {
    width: 100%;
}

.filter-button {
    position: sticky;
    top: 0;
    z-index: 5;
}
.carousel-item {
    height: 300%;
}

.button-style {
    border-radius: 5px;
    border: none;
    background-color: rgb(40, 47, 235);
    padding: 5px 5px;
    box-shadow: 1px 1px 1px 1px lightgray;
    color: whitesmoke;
}
.intro-copy {
    padding: 1em;
    margin: 50vh auto;
    max-width: 15em;
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 2em;
    line-height: 1.2;
    text-align: center;
}

.top-link {
    transition: all 0.25s ease-in-out;
    position: fixed;
    bottom: 0;
    right: 0;
    display: inline-flex;

    background-color: paleturquoise;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin: 0 3em 3em 0;
    border-radius: 50%;
    padding: 0.25em;
    width: 40px;
    height: 40px;
}

.hide {
    visibility: hidden;
    opacity: 0;
}
.show {
    visibility: visible;
    opacity: 1;
}

top-link:hover {
    background-color: #e8e8e8;
}
/*
// Text meant only for screen readers.
.screen-reader-text {
  position: absolute;
  clip-path: inset(50%);
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  word-wrap: normal !important;
  clip: rect(1px, 1px, 1px, 1px);

  &:focus {
    display: block;
    top: 5px;
    left: 5px;
    z-index: 100000; // Above WP toolbar
    clip-path: none;
    background-color: #eee;
    padding: 15px 23px 14px;
    width: auto;
    height: auto;
    text-decoration: none;
    line-height: normal;
    color: #444;
    font-size: 1em;
    clip: auto !important;
  }
} */
.leftPanel {
    width: 10%;
}

@include media-breakpoint-down(lg) {
.leftPanel {
    width: 0%;
}

}

@include media-breakpoint-down(sm) {
    .container {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
}
