@if (_data) {
    <div class="select__margin">
        <div class="select__container">
            <div class="select__field">
                <div class="select__label" [ngClass]="{ required: IsRequired }">
                    {{ label() }}
                    @if (label() && IsRequired()) {
                        <span class="fw-bold" [ngStyle]="{ color: 'red', 'font-size': '1em', 'padding-left': '2px' }">*</span>
                    }
                </div>
                <app-buttongroup data-testid="button-group" [active]="active" [placeholder]="placeHolder()" [clearBox]="clearBox" [selection]="selection" [useFilter]="false" (clickSelect)="clickSelect()" (clear)="clear()">
                </app-buttongroup>
                @if (submitted() && IsInvalid()) {
                    <div class="invalid-feedback d-block">
                        <small>{{ errorMessage }}</small>
                    </div>
                }
            </div>
        </div>
    </div>
}
@if (selectedValues?.length) {
    <div class="multiselection">
        <app-choise [selectedItems]="selectedValues" (deleteSelection)="deleteSelection($event)"></app-choise>
    </div>
}
