@import "app/field-style.css";

.multiselection {
    margin-top: 2px;
    display: flex;
    flex-wrap: wrap;
}

* {
    margin: 0;
    box-sizing: border-box;
    align-items: center;
}

.container-style
{
    width: 100%;
}
.filter {
    width: 100%;
    height: 30px;
    line-height: 100%;
    z-index: 1;
}

/* body {
    font-family: "Roboto", "sans-serif";
    background-color: aquamarine;
} */

h2 {
    margin: 16px;
}

.letter {
    color: white!important;
    background-color: rgb(168, 242, 190)!important;
}

.selection {
    flex-grow: 1;
    border: none;
    padding: none;
}

.selected {
    border: 1px solid lightgray;
    background: white;
    border-radius: 0px;
    font-weight: 400;
    color: black;
    position: relative;
    order: 0;
    font-size: 0.9em;
    display: block;
    font-family: var(--bs-body-font-family);
}
.close-button-style {
    background-color: blue; 
    border-radius: 2px;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
 }
.letter-style {
   background-color: blue; 
   border-radius: 2px;
   border: 1px solid black;
   width: 20px;
   justify-content: center;
   align-items: center;
   display: flex;
   cursor: pointer;
}
.selected-option {
    color: white!important;
    background-color: blueviolet!important;

}


.container {
    margin-top: 100px;
    padding: 32px;
}

form {
    position: relative;
}
.select-box {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: absolute;
    width: 100%;
    /* background-color: lightblue; */
} 

.select-box .options-container {
    background: rgb(200, 193, 193);
    color: black;
    border-radius: 0px;
    opacity: 0;
    max-height: 0px;
    order: 1;
    z-index: 2;
    width: inherit;
    overflow-y: scroll;
}

.option.group {
    color: black;
    background-color: lightgreen;
}
.selected {
    border: 1px solid lightgray;
    background: white;
    border-radius: 0px;
    font-weight: 400;
    color: black;
    position: relative;
    order: 0;
    font-size: 0.9em;
    display: block;
    font-family: var(--bs-body-font-family);
}

.selected-box {
    background: white;
    border-radius: 0px;
    font-weight: 400;
    color: black;
    position: relative;
    order: 0;
    font-size: 0.9em;
    display: block;
    font-family: var(--bs-body-font-family);
}

.close-button {
    top: 2px;
    height: 16px;
    position: absolute;
    width: 16px;
    right: 24px;
}


.width-100 {
    width: 100%;
}

.tooltip-inner {
    background-color: #2f4fff;
    box-shadow: 0px 0px 4px black;
    opacity: 1 !important;
}

.text-style {
    flex: auto;
}
.active-letter {
    background-color: red;;
}

.button-group {
    display: inline-flex;
    justify-content: flex-end;
}

.selected-button
{
    content: "";
    color: black;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px 12px;
    width: 26px;
    padding-left: 2px;
    padding-right: 2px;
    height: 24px;
}

.rotated
{
    border-radius: 10px;
    border: 2px solid red;
    transition: all 0.4s;
    transform: rotate(180deg);
    font-weight: bold;
}



.select-box .options-container.active {
    max-height: 300px;
    opacity: 1;
    overflow: auto;
    scroll-behavior: auto;
}

.notActive {
    height: 0px!important;
    border: 0px;
    padding: 0px;
}
.select-box .options-container.notActive {
    height: 0px;
}
.select-box .options-container.active + .selected::after {
    transform: rotateX(180deg);
    top: 0px
}


.option
{
    background-color: white;
    display: block;
    
}

.option.disable {
    background-color: lightgray;
}

.input-style {
    width: 100%;
    height: 32px; ;
}
.checked {
    width: 24px;
}
.select-box .option {
    display: block;
    cursor: pointer;
    border-radius: 0px!important;
    height: 30px;
}
.select-box .option {
    display: flex;
    padding: 6px 2px; 
    cursor: default;
    align-items: center;
}

.select-box .selected {
    cursor: default;
}

.select-box label {
    cursor: default;
}

.select-box .option .radio {
    display: none;
}

.select-box .options-container::-webkit-scrollbar {
    width: 16px;
    background-color: #0d141f;
    border-radius: 0!important;
}

.select-box .options-container::-webkit-scrollbar-thumb {
    background: rgb(55, 171, 210);
    border-radius: 0!important;

}

.options-container {
    overflow: auto;
    scroll-behavior:auto;
    border: 1px solid black;
    width: 100%;
}

.image-style {
    height: 24px;
    width: 24px;
    padding-left: 5px;
    padding-right: 5px;
}

.expand-style {
    background-color: blue;
    color: white;
    padding: 1px 5px;
    border-radius: 5px;

}
/* .select-box .option:hover {
    background-color: lightblue;
    display: block;
    cursor: pointer;
}

.option:hover
{
    background-color: lightblue;
    color: black;
    display: block;
} */

