<div class="layout">
    <div class="categoryMax">
        @if (showCategory) {
            <app-categories id="categoriesElem" #categoriesElem [dropDowns]="categoriesFooter" (selection)="onSelection($event)" data-cy="categories" class="categories"></app-categories>
        }
    </div>
    <div class="w-100">
        <form [formGroup]="filterForm" class="form-background homeForm">
            <div class="row mb-1">
                @if (admin) {
                    <div class="row">
                        <div class="col-sm-4 control min150px">
                            <app-select
                                id="user"
                                formControlName="userId"
                                data-cy="userName"
                                label="{{ labels.USERNAME }}"
                                valueProperty="userId"
                                [data]="users"
                                (onClose)="focus()"
                                displayProperty="userName">
                            </app-select>
                        </div>
                        <div class="col-sm-3 control min150px">
                            <app-select
                                id="approved"
                                formControlName="approved"
                                data-cy="approvedType"
                                label="{{ labels.APPROVEAD }}"
                                valueProperty="id"
                                [data]="approvedTypes"
                                (onClose)="focus()"
                                displayProperty="value">
                            </app-select>
                        </div>
                    </div>
                }
            </div>

            <div class="row">
                <div class="mb-1 d-flex justify-content-center">
                    <app-radiogrouplist [style]="2" [radios]="radioTypes" formControlName="itemType"></app-radiogrouplist>
                </div>
            </div>

            <div class="row" [ngClass]="{ show: displayAll, noShow: !displayAll }">
                <div class="col-sm-2 min150px">
                    <app-select formControlName="tyreWidth" label="{{ labels.TYRE_WIDTH }}" data-cy="engineType" [data]="tyreWidth" (onClose)="focus()"> </app-select>
                </div>
                <div class="col-sm-2 min150px">
                    <app-select formControlName="tyreHeight" label="{{ labels.TYRE_HEIGHT }}" data-cy="engineType" [data]="tyreHeight" (onClose)="focus()"> </app-select>
                </div>
                <div class="col-sm-2 min150px">
                    <app-select formControlName="tyreRadius" label="{{ labels.TYRE_RADIUS }}" data-cy="engineType" [data]="tyreRadius" (onClose)="focus()"> </app-select>
                </div>
            </div>
            <div class="row" [ngClass]="{ show: displayTyre, noShow: !displayTyre }">
                <div class="col-sm-2 min150px">
                    <app-select formControlName="tyreWidth" label="{{ labels.TYRE_WIDTH }}" data-cy="engineType" [data]="tyreWidth" (onClose)="focus()"> </app-select>
                </div>
                <div class="col-sm-2 min150px">
                    <app-select formControlName="tyreHeight" label="{{ labels.TYRE_HEIGHT }}" data-cy="engineType" [data]="tyreHeight" (onClose)="focus()"> </app-select>
                </div>
                <div class="col-sm-2 min150px">
                    <app-select formControlName="tyreRadius" label="{{ labels.TYRE_RADIUS }}" data-cy="engineType" [data]="tyreRadius" (onClose)="focus()"> </app-select>
                </div>
                <div class="col-sm-2 min150px">
                    <app-select formControlName="tyreType" label="{{ labels.TYRE_TYPE }}" data-cy="engineType" [data]="tyreTypes" (onClose)="focus()"> </app-select>
                </div>
                <div class="col-sm-3 min200px">
                    <app-customselect formControlName="tyreCompanyId" [useFilter]="true" label="{{ labels.TYRE_PRODUCER }}" data-cy="tyreCompanyId" [data]="tyreProducers" (onClose)="focus()">
                    </app-customselect>
                </div>
            </div>
            <div class="row" [ngClass]="{ show: displayRim, noShow: !displayRim }">
                <div class="col-sm-3 control min200px">
                    <div class="max300px">
                        <app-company-choise [itemType]="itemType" [userId]="userId!" [bus]="0" data-cy="companyId" [all]="true" formControlName="companyId"> </app-company-choise>
                    </div>
                </div>
                <div class="col-sm-4 control">
                    <app-select
                        id="modelId"
                        [appToolTip]="'Избери модела'"
                        formControlName="modelId"
                        data-cy="modelId"
                        label="{{ labels.MODEL }}"
                        displayProperty="displayModelName"
                        valueProperty="modelId"
                        [data]="models"
                        (onClose)="focus()">
                    </app-select>
                </div>
                <div class="col-sm-3 control">
                    <app-select
                        id="rimWidth"
                        [appToolTip]="'Широчина'"
                        formControlName="rimWidth"
                        data-cy="rimWidth"
                        label="Широчина"
                        displayProperty="text"
                        valueProperty="value"
                        [data]="rimWidth"
                        (onClose)="focus()">
                    </app-select>
                </div>
                <div class="col-sm-3 control">
                    <app-select
                        id="rimMaterial"
                        [appToolTip]="'Материал'"
                        formControlName="rimMaterial"
                        data-cy="rimMaterial"
                        label="Материал"
                        displayProperty="text"
                        valueProperty="value"
                        [data]="rimMaterial"
                        (onClose)="focus()">
                    </app-select>
                </div>
                <div class="col-sm-3 control">
                    <app-select
                        id="rimOffset"
                        [appToolTip]="''"
                        formControlName="rimOffset"
                        data-cy="rimOffset"
                        label="Офсет"
                        displayProperty="text"
                        valueProperty="value"
                        [data]="rimOffset"
                        (onClose)="focus()">
                    </app-select>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col-sm-3 max200px">
                    <app-select formControlName="regionId" data-cy="regionId" label="{{ labels.REGION }}" [data]="regions" (onClose)="focus()"> </app-select>
                </div>
            </div>
            <div class="row ms-1 mt-1">
                <div class="col-sm-3 form-check control checkboxClass">
                    <label class="form-check-label" for="hasImages">{{ labels.WITHIMAGES }}</label>
                    <input type="checkbox" class="form-check-input" formControlName="hasImages" id="hasImages" data-cy="hasImages" />
                </div>
            </div>
            <app-search-bar formControlName="orderBy" (submitEvent)="submit()" (clearEvent)="clearFilter()"></app-search-bar>
        </form>
        <div class="card advert" [hidden]="hideFilter"></div>
        <app-categoriesfooter [categories]="categoriesFooter" [hidden]="hideFilter" (categoryClick)="categoryClick($event)"></app-categoriesfooter>
    </div>
</div>
