/* footer */
.background-image {
    background-color: #cccccc;
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

.searchtext {
    display: block;
}

.active {
    border-bottom: 5px solid var(--active-borderbottom)!important;
}

.show {
    display: block;
 } 
.head {
    display: none;
    position: fixed;
    background-color: white;
    padding: 10px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.footer {
    display: none;
    background-color: white;
    padding: 10px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    font-size: 14px;
    z-index: 2;
    position: relative;
    bottom: 56px;
}

.footer-button {
    font-size: 1.6em;
    border: none;
    background-color: white;
}

.space-evenly {
    justify-content: space-evenly;
    background-color: none!important;
}

.marginTop {
    margin-top: 200px;
    position: relative;
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;}

.extended {
    background-color: slateblue;
    color: white;
}

.linkClass:hover {
    background-color: lightgrey;
    color: blue;
}

.containerFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

input[type="checkbox"] {
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
}

.checkboxClass {
    margin-top: 2px;
    margin-bottom: 8px;
    font-size: 1.1em;
} 

.background-image {
    background-color: #cccccc;
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.buttonSize {
    font-size: 1.2em;
}

.button-bottom {
    height: 56px;
}

.categoryMax {
    display: block;
    cursor: pointer;
}

.categoryElement {
    align-items: center;
    border-radius: 3px;
    min-width: 18%;
    background-color: #7fffd4;
}


.category:hover {
    box-shadow: 2px 2px lightblue;
    border: 1px solid black;
    border-radius: 4px;
}

@media(max-width: 900px) {
    .searchtext {
        display: none;
    }
    .categories {
        width: 100%;
    }

    .background-image {
        display: none;
    }

    .homeForm {
        width: 100%;
    }
}

@media(max-width: 1200px) {
    .control {
        width: 100%;
    }
}


@media screen and (min-width: 0px) and (max-width: 900px) {
    .marginTop {
        margin-top: 0px;
    }

    .categoryMax {
        display: none;
    }
        
    .app-categories {
        bottom: 50px;
    }


    .head {
        display: flex;
    }

    .footer {
        font-size: 10em;
        display: flex;
        position: fixed;
        padding: 6px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        box-sizing: border-box;
        width: 100%;
        text-align: center;
        font-size: 14px;
    }

    .element {
        text-align: center;
        align-items: center;
        height: 100%;
    }

    .text {
        display: block;
        clear: both;
    }

    .iconSize {
        font-size: 2em;
    }

    .icon {
        height: 24px;
        width: 24px;
    }

    .linkClass {
        color: black;
        border-radius: 3px;
        min-width: 18%;
        box-shadow: 2px 2px 2px 2px rgba(46, 229, 157, 0.4);
    }

    .element {
        cursor: pointer;
    }

    .linkClass:active {
        box-shadow: 2px 2px 2px 2px rgba(229, 46, 95, 0.4);
    }
    .text-body-small-pale {
        font-family: roboto, sans-serif;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: 18px;
    }
}


/* Tabs */

.tabClass {
    border: 1px solid black;
    margin: 2px 2px;
    width: 100px;
}

.tabClass:hover {
    background-color: rgb(0, 255, 136);
    color: yellow;
}
.tabSvg {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}

.tab {
    background-color: cadetblue;
}

.tyreClass {
    background-color: rgb(14, 222, 191);
    color: white;
}

.carClass {
   
    background-color: rgb(60, 51, 220);
    color: white;
}

/* Marque */

marquee {
    background-color: lightskyblue;
    color: white;
}

/* advert*/
.advert {
    height: 200px;
    background-color: lightyellow    
}


.marquee {
    width: 100%;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: aquamarine;
}
.marquee p {
    display: flex;
    margin: 0px;
    align-items: center;
    padding-left: 100%;
    font-weight: 300;
	color: Black;
    animation: marquee 30s linear infinite;
    padding-top: 2px;
    padding-bottom: 2px;
}
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

