.viber {
    background-color: #7b519d;
    color: white;
    height: 25px;
    width: 100%;
    align-items: center;
    padding-left: 0.15rem;
}

.size {
    width: 100px;
}
.viberSvg {
    height: 32px;
    width: 32px;
}

.iconSize {
    font-size: 1.5em;
}