@media(max-width: 600px) {
    .imageSize {
        width: 140px;
        height: 100px
    }
 }
 @media(min-width: 601px) {
    .imageSize {
        width: 182px;
        height: 130px
    }
 }

 .business-card {
    position: relative;
    max-width: 200px;
    max-height: 180px;
 }

 .logoutBtn
 {
    background-color: rgb(39, 108, 211);
    color: white;
 }
 .backgroundSize {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.dealerBtn {
    background-color: rgb(182, 250, 146);
    color: black
}

.adButton {
    background-color: rgb(0, 230, 0);
    color: whitesmoke; 
}
.deleteBtn {
    background-color:red;
    color: white;
}

.returnButton {
    background-color: rgb(82, 236, 172)!important;
    color: snow!important;
}

