<div class="container mt-4 ps-4 pe-4">
    <h4>Общи условия</h4>
    <h3>Общи условия за ползване на parts365.bg</h3>
    <ol>
        <li>
            Oбщи условия уреждат отношенията между "Auto full", ЕИК: 205384891,
            лицата-ползватели на услугите на сайта www.parts365.bg.
        </li>
        <li>
            Parts365.bg е сайт за малки обяви в областта на пазарите на авто части втора ръка.
            Parts365.bg е собственост на "Auto full", ЕИК: 205384891.
        </li>
        <li>
            Всяко лице, което е заредило на браузъра си parts365.bg следва да се запознае внимателно
            с настоящите Общи условия. Ако лицето не желае да стане ползвател на услугите на parts365.bg,
            ако не желае да предоставя данни и информация и да има достъп до данни и информация на parts365.bg
            следва незабавно да напусне сайта.
        </li>
        <li>
            Parts365.bg запазва изключителното право да избира партньорите, които да допуска да използват
            услугата в parts365.bg.
        </li>
    </ol>
    <h3>Общи условия за потребители и обяви</h3>
    <ol>
        <li>
            Обяви могат да публикуват както лица, които желаят да сключат единична сделка
            (наричани по-нататък "частни лица"), така и такива, които сключват такива сделки по занятие-
            търговци (наричани по-нататък "дилъри").
        </li>
        <li>
            Частните лица могат да публикуват обяви в parts365.bg, само след регистрация с e-mail и парола.
        </li>
        <li>
            Частните лица могат да публикуват максимум 5 обяви по всяко време.
        </li>
        <li>
            Дилърите имат правото да публикуват техните обяви срещу заплащане регламентирано според договора сключен
            между “Аuto full” – собственик на сайта parts365.bg и дилъра.
        </li>
        <li>
            Една обява следва да съдържа информация само за един обект на оферта.
            Задължително е правилното и точно попълване на всички полета във формата за записване на обява,
            в противен случай администраторите на сайта си запазват правото за редактиране,
            променяне на позицията и изтриване на обяви с грешно или неправилно попълнено съдържание.
        </li>
        <li>
            Текстовете и изображенията към всяка обява трябва да отговарят на тематиката на сайта.
            Текстовете и изображенията в обявите не може да съдържат скрита или явна реклама, освен свързана
            с предмета на обявата. Текстовете и изображенията в обявите не може да съдържат обидни и/или
            дискриминационни квалификации
        </li>
        <li>
            Всички обяви преминават през предварително одобрение от администратор в 24 часов период
            след добавянето й parts365.bg от администратор.
        </li>
        <li>
            Обявите, публикувани в нарушение на тези Общи условия, независимо дали са публикувани
            безплатно или срещу заплащане, се изтриват без право на компенсация.
        </li>
        <li>
            Сайтът parts365.bg има право да забрани публикуването на обяви от определени телефони
            или e-mail адреси, от които са извършвани системни нарушения на правилата за публикуване на обяви в
            parts365.bg.
        </li>
        <li>
            "Auto full" ООД не носи отговорност за верността и актуалността на публикуваните обяви.
            Цялата отговорност за верността и актуалността на публикуваните обяви и реклама се носи от лицето,
            което ги е публикувало. С факта на публикуването публикуващият декларира, че в
            обявите или в рекламата не се съдържа подвеждаща или невярна информация.
        </li>
    </ol>
    <h3>
        Заключителни
    </h3>
    <ol>
        <li>
            "Auto full” си запазва правото да променя Общите условия по всяко време и по своя преценка.
            Промените се поместват на официалната страница на сайта и влизат в сила от деня на
            поместването им там. Ползвателите на услугите на сайта са длъжни да проверяват актуализациите
            на Общите условия и да съобразяват поведението си с тях.
        </li>
        <li>
            Всички възникнали спорове в отношенията между ползвателите на услугите на сайта и "Auto full"
            се разрешават по взаимно съгласие, а ако такова не се постигне пред компетентните съдилища,
            съобразно приложимото в Р.България законодателство.
        </li>
    </ol>

</div>