.dark-modal .modal-content {
    background-color: #006394;
    color: white;
}

.dark-modal .close {
    color: white;
}

.light-blue-backdrop {
    background-color: #5cb3fd;
}

.img-thumbnail {
    max-width: 200px;
    max-height: 200px;
}

.imageSize {
    height: 200px;
    object-fit: contain;
}

@media (max-width: 600px) {
    .imageSize {
        width: 140px;
        height: 100px;
    }
}
@media (min-width: 601px) {
    .imageSize {
        width: 182px;
        height: 130px;
    }
}

.position-buttons {
    justify-content: end;
}
@media (max-width: 730px) {
    .position-buttons {
        position: fixed;
        bottom: 30px;
        right: 0px;
    }
}

.buttonSize {
    font-size: 1.2em;
}

.title {
    background-color: rebeccapurple;
    color: white;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    justify-items: center;
}
