<form>
    <div class="selected form-select-sm d-flex justify-content-between" [ngClass]="{ rotated: active }">
        <div class="selection" (click)="clickSelect($event)" role="none">{{ _selection }}</div>
        <div class="button-group">
            @if (clearBox) {
                <div class="close-button" data-toggle="tooltip" data-placement="top" title="Изчисти избора" (click)="clear($event)" role="none">
                    <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="16" height="16" viewBox="0 0 50 50">
                        <path
                            d="M 7.71875 6.28125 L 6.28125 7.71875 L 23.5625 25 L 6.28125 42.28125 L 7.71875 43.71875 L 25 26.4375 L 42.28125 43.71875 L 43.71875 42.28125 L 26.4375 25 L 43.71875 7.71875 L 42.28125 6.28125 L 25 23.5625 Z"></path>
                    </svg>
                </div>
            }
            <div class="selected-button" [ngClass]="{ rotate: active }" (click)="clickSelect($event)" role="none"></div>
        </div>
    </div>
    @if (submitted) {
        <div class="invalid-feedback d-block">
            <small>{{ errorMessage }}</small>
        </div>
    }
    <div class="select-box shadow" #selectBox>
        @if (useFilter) {
            <input
                id="Input"
                #filterElem
                type="text"
                (ngModelChange)="filterChange($event)"
                name="filter"
                value="filter"
                [ngClass]="{ filter: true, active: active, notActive: !active }"
                [ngModel]="filter"
                [ngModelOptions]="{ standalone: true }" />
        }

        <div class="options-container col-sm-5" #optionsContainer [ngClass]="{ active: active, notActive: !active }">
            @for (item of _data; track item) {
                @if (item.showItem) {
                    <div
                        id="Item{{ item.display }}"
                        class="option form-select-sm"
                        [ngClass]="{ group: item.group, disable: item.isElementDisabled, letter: item.isLetter, 'selected-option': item.isSelected }"
                        (click)="clickItem($event, item)"
                        [disabled]="item.elementDisabled" role="none">
                        @if (item.isLetter) {
                            <div class="d-inline-flex">
                                @for (letter of item[displayProperty]; track letter) {
                                    <div class="me-1 letter-style" (click)="clickLetter($event, letter, item)" role="none">{{ letter }}</div>
                                }
                            </div>
                        }
                        @if (!item.isLetter) {
                            <!-- <input type="radio" class="radio" id="{{item[valueProperty]}}" name="category"
              [disabled]="item.isElementDisabled"> -->
                            <div class="display-style">
                                <label class="label" for="{{ item[valueProperty] }}" role="none">{{ item.display }}</label>
                                @if (item.count) {
                                    <div class="label">{{ item.count }}</div>
                                }
                            </div>
                        }
                    </div>
                }
            }
        </div>
    </div>
</form>
