<div class="footer">
    <div class="row">
        <div class="col-sm-2">
            <a class="link-light item" [routerLink]="['/info/contact']">ЗА ВРЪЗКА</a>
        </div>
        <div class="col-sm-2">
            <a class="link-light item" [routerLink]="['/info/terms']">ОБЩИ УСЛОВИЯ</a>
        </div>
        <div class="col-sm-2">
            <a class="link-light item" [routerLink]="['/info/contact']">ЗА РЕКЛАМА</a>
        </div>
    </div>
    <div class="footer-section copyright">
        <div class="footer-logo"></div>
        <div class="right text-body-white">2025 © Parts365 Marketplace</div>
        <p class="info">
            Part365 Marketplace e платформа, на която партньори на Part365 предлагат своите продукти и услуги. Работейки с множество доставчици, ние Parts365 успяваме да предложим богат асортимент на
            едно място за всички автолюбители. Нашите партньори предлагат авточасти, гуми, джанти, акумулатори, автоаксесоари и други продукти на автомобилна тематика.
        </p>
    </div>
</div>
