.data {
    display: flex;
    flex-flow: row;
}

.image-order {
    order: 1;
}

.showPart {
    margin-left: 10px;
    border-left: 3px solid blue;
    border: 2px solid blue !important;
    background-color: rgb(179, 184, 234) !important;
}

.parts {
    padding-top: 10px;
    margin: 10px 15px;
    background-color: #7fffd4;
}
.info-order {
    order: 2;
    padding-left: 5px !important;
}

.card {
    min-height: 150px;
    padding: 10px 5px;
}
.imageSize {
    width: 250px;
}

.part-row {
    padding: 6px 2px;
    border: 1px solid black;
    border-radius: 4px;
    margin-left: 0.5rem;
}
.car_part {
    padding: 2px 6px;
}

.part-card {
    margin: 0px 10px;
    border: 1px solid blueviolet;
    border-radius: 4px;
}
@media only screen and (max-width: 850px) {
    .data {
        flex-flow: column;
    }

    .image-order {
        width: 100%;
    }
    .info-order {
        width: 100%;
    }
}

.highlighted {
    border: 2px solid purple!important;
}

.imageSize {
    display: flex;
    justify-content: start;
    object-fit: contain;
    width: 320px;
}

.image-style {
    display: flex;
    justify-content: start;
    object-fit: contain;
}

.title {
    background-color: blueviolet;
    color: white;
    border-radius: 2px;
    padding: 2px 10px;
    margin: 5px;
}

.part-close-arrow {
    position: absolute;
    right: 8px;
    top: 8px;
    border-radius: 4px;
    background-color: blue;
    color: white;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

@media (max-width: 480px) {
    .showPart {
        margin-left: 2px;
        border-left: 2px solid blue;
    }
    .card {
        padding: 4px 2px;
    }

    .car_part {
        padding: 2px;
    }

    .parts {
        padding-top: 4px;
        margin: 2px 3px;
        border: none;
    }

    .part-row {
        padding: 1px;
        margin-left: 0rem;
    }

    .part-card {
        margin: 0px;
    }
}
