img {
    border-radius: 2px;
    box-shadow: 0 0 5px #343436;
    filter: brightness(1.1);
    object-fit: contain;
    width: 100%;
    height: 200px;
    background-color: antiquewhite;
}

@media (max-width: 600px) {
    .carImage {
        width: 175px !important;
        height: 100px !important;
    }
}
@media (min-width: 601px) {
    .carImage {
        width: 227px !important;
        height: 130px !important;
    }
}

.min-size {
    width: 30%;
}

.button-delete {
    position: absolute;
    top: -10px;
    right: 0px;
    width: 28px;
    height: 28px;
    border: 1px solid blue;
    padding: 0px;
    background-color: blue;
    color: white;
    border-radius: 6px;
}
