.menu {
    position: relative;
    display: inline-block;
}

.menuBtn {
    border: 1px solid black;
    border-radius: 2px;
}

.menu-content {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: beige;
    padding-left: 2px;
    box-shadow: 2px 2px 5px gray;
}

.menu-content a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 1px;
    font-family: Charlie Text, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif
}

.menu-content a:hover {
    background-color: #0052cc;
    color: white;
}
.menu:hover 
    .menu-content {
        display: block;
}

/* .approved {
    background-color: lightgreen;
}

.blocked {
    background-color: red;
} */
