.tooltip-container {
    text-align: center;
    z-index: 100;
    position: fixed;
    padding: 6px 12px;
    font-size: 2em;
    font-weight: 600;
    line-height: 1em;
    color: rgb(36, 175, 94);
    width: auto;
    height: auto;
    background: rgb(206, 9, 9);
    box-sizing: border-box;
    opacity: 0;
    transform: translate(-50%, -30%);
    animation: tooltip-slide 0.18s ease-out 0.5s;
    animation-fill-mode: forwards;
    pointer-events: none;
    position: absolute;
}

@keyframes tooltip-slide {
  0% {
    opacity: 0;
    transform: translate(-50%, -30%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
