.containerFlex {
    display: flex;
    /* or inline-flex */
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    background-color: white;
}

.category {
    position: relative;
    border-radius: 10px;
    width: 100px;
    height: 160px;
    cursor: pointer;
    flex: 1, 0, 200px;
    background-color: unset;
    border: none;
    // box-shadow:
    //     rgba(45, 35, 66, 0.4) 0 2px 4px,
    //     rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
    //     #d6d6e7 0 -3px 0 inset;
    &:focus {
        background-color: #d2fafb;
        box-shadow:
            #d6d6e7 0 0 0 1.5px inset,
            rgba(45, 35, 66, 0.4) 0 2px 4px,
            rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
            #d6d6e7 0 -3px 0 inset;
    }
    &:hover {
        background-color: #f0fff0;
        box-shadow:
            rgba(45, 35, 66, 0.4) 0 4px 8px,
            rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
            #d6d6e7 0 -3px 0 inset;
        transform: translateY(-2px);
    }
    &:active {
        background-color: #ffe9e3;
        box-shadow: #d6d6e7 0 3px 7px inset;
        transform: translateY(2px);
    }
}

.button-30:active {
    background-color: #ffe9e3;
    box-shadow: #d6d6e7 0 3px 7px inset;
    transform: translateY(2px);
}

img {
    width: 40px;
    height: 40px;
}

.image-style {
    height: 80px;
    width: 80px;
}
.count {
    text-align: center;
    position: absolute;
    top: 16px;
    right: 16px;
    height: 16px;
    min-width: 16px;
    border-radius: 12px;
    font-size: 12px;
    line-height: 16px;
    background-color: whitesmoke;
    color: black;
}

.number {
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    margin: 0 0 20px 0;
    padding: 2px 6px;
    border-radius: 6px;
    color: white;
    background-color: #80CBC4;
}

.categoryMessage {
    display: flex;
    justify-content: center;
    padding-top: 2px;
    font-family:
        Arial,
        Helvetica,
        sans-serif,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Helvetica,
        Arial,
        sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 20px;
    margin: 0 0 20px 0;
    text-align: left;
    font-weight: 400;
}

.message {
    text-align: center;
}

.categoryMax {
    display: block;
    cursor: pointer;
}
@media screen and (min-width: 0px) and (max-width: var(--bs-breakpoint-md)) {
    .categoryMax {
        display: none;
    }
    .categoryMessage {
        font-size: 16px;
        line-height: 20px;
    }
    .image-style {
        height: 60px;
        width: 60px;
    }
    .category {
        width: 70px;
        height: 120px;
        }
    
    }

element.style {
    color: #141424;
    font-family: 'Helvetica Now Display', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    margin: 0 0 20px 0;
    text-align: left;
}
