* {
    margin: 0;
    box-sizing: border-box;
}
.title {
    padding: 2px 4px;
    font-size: 1.2em;
    background-color: var(--title-bgcolor);
    color: var(--title-color);; 
    border-radius: 5px;
}

.container-style {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80vh;
    align-items: center;
}

mat-dialog-content {
    max-height: unset;
    width: 100%;
    max-height: 100%;
    max-width: min(100%, 500px);
    background: transparent;
    padding: unset;
}

.container {
    display: flex;
    justify-content: center;
}

.search {
    border: 1px solid black;
    display: inline-flex;
    align-items: center;
    padding-left: 2px;
    font-size: 1em;
}
 

svg {
    padding-left: 2px;
    padding-bottom: 2px;
}

.search:focus-within {
    background-color: lightblue;
}
.filter {
    width: 100%;
    height: 30px;
    line-height: 100%;
    z-index: 1;
    font-size: 1.2em;
    margin-bottom: 2px;
    border: none;
}

input:focus {
    border: none;
    outline: none;
    background-color: lightblue;
}

.display-style {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8em;
    width: 100%;
    padding: 2px 0px;
}

.company-style {
    font-size: 1.2em;
    margin-bottom: 2px;
}

h2 {
    margin: 16px;
}

.label-style {
    color: red;
    font-size: 1em;
    padding-left: 2px;
}


.letter-container {
    background: rgb(200, 193, 193);
    color: black;
    border-radius: 0px;
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    background-color: transparent;
}

.letter-style {
    background-color: blue; 
    border-radius: 2px;
    align-items: center;
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    font-size: 1.2em;
    box-shadow: #0d6efd 1px 1px 1px 1px
}

 .selected-letter {
    color: white;
    background-color: red;
}

.button-clear {
    background-color: var(--clear-button-bgcolor);
    color: var(--clear-button-color);
}

.letter {
    color: black;
    background-color: rgb(168, 242, 190);
}

.letter:hover {
    background-color: lightblue;
    color: white;
}

.selected-option {
    color: white !important;
    background-color: blueviolet !important;
}

.select-box {
    display: flex;
    flex-direction: column;
    margin-top: 2px;
    -webkit-overflow-scrolling: touch;
    padding: 2px 4px;
    flex-flow: column;
    flex: 1 1 auto;
    overflow-y: auto;
     width: 100%;
}

.option.group {
    color: black;
    background-color: lightgreen;
}
.selected {
    border: 1px solid lightgray;
    background: white;
    border-radius: 0px;
    font-weight: 400;
    color: black;
    position: relative;
    order: 0;
    font-size: 0.9em;
    display: block;
    font-family: var(--bs-body-font-family);
}

.close-button {
    margin-right: 30px;
    height: 14px;
    width: 14px;
}
.selected::after {
    content: '';
    color: black;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px 12px;
    position: absolute;
    height: 100%;
    width: 16px;
    right: 8px;
    top: 0px;
    transition: all 0.4s;
}

.selected.rotated::after {
    transform: rotate(180deg);
}

.select-box .options-container.active {
    max-height: 300px;
    opacity: 1;
    overflow: auto;
    scroll-behavior: auto;
}

.notActive {
    height: 0px !important;
    border: 0px;
    padding: 0px;
}
.select-box .options-container.notActive {
    height: 0px;
}
.select-box .options-container.active + .selected::after {
    transform: rotateX(180deg);
    top: 0px;
}

.option {
    background-color: white;
    display: block;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 1.2em;
    cursor: pointer;
}

.button-ok {
    background-color: var(--ok-button-bgcolor);
    color: var(--ok-button-color);
}

.button-style {
    border-radius: 6px;
    padding: 6px 6px;
    height: 32px;
    margin: 4px;
    width: 98px;
    cursor: pointer;
    box-shadow:
        0px 0.01em 0.01em rgb(45 35 66 / 40%),
        0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%),
        inset 0px -0.01em 0px rgb(58 65 111 / 50%);
    line-height: 20px;
    justify-content: center;
}
.button-cancel {
    color: white;
    background-color:  blue;
}

.button-style:hover {
    height: 40px;
    width: 100px;
    margin: 0px 4px;
    padding: 6px 10px 8px 10px;
}

.button-style:active {
    box-shadow: inset 0px 0.1em 0.6em #3c4fe0;
    transform: translateY(0em);
}
.disable {
    background-color: lightgray!important;
    font-size: 1.3em!important;
    font-weight: 500!important;
}

.input-style {
    width: 100%;
    height: 32px;
}

.select-box .option {
    display: block;
    cursor: pointer;
    border-radius: 0px !important;
    height: 30px;
}

.select-box .option {
    display: flex;
    padding: 6px 6px;
    cursor: default;
    align-items: center;
}

.select-box .selected {
    cursor: default;
}

.select-box label {
    cursor: default;
}

.select-box .option .radio {
    display: none;
}

.select-box .options-container::-webkit-scrollbar {
    width: 16px;
    background-color: #0d141f;
    border-radius: 0 !important;
}

.select-box .options-container::-webkit-scrollbar-thumb {
    background: rgb(55, 171, 210);
    border-radius: 0 !important;
}

.options-container {
    background: rgb(200, 193, 193);
    border: 1px solid black;
    color: black;
    border-radius: 0px;
    order: 1;
    z-index: 2;
    width: 100%;
    overflow-y: auto;
    max-height: 100%;
    scroll-behavior: auto;
}


.select-box .option:hover {
    background-color: lightblue;
}

.option:hover {
    background-color: lightblue;
    color: black;
}
