<!-- <div class="main-container">
    <div class="password-container">
        <input
            type="{{ type }}"
            class="password-input"
            maxlength="20"
            placeholder="{{ labels.PASSWORD }}"
            [ngClass]="{ 'is-invalid': submitted && control.errors }"
            autocomplete="{{ autocomplete }}"
            required />
        @if (this.showFlag) {
            <button class="visible" (click)="show()">
                <span class="material-symbols-outlined"> visibility </span>
            </button>
        } @else {
            <button class="visible" (click)="show()">
                <span class="material-symbols-outlined"> visibility_off </span>
            </button>
        }
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <span class="material-symbols-outlined"> visibility_off </span>
        </div>
          
    </div>
    <div *ng1If="submitted && control.invalid" class="invalid-feedback d-block">
        <small>{{ errorMessage }}</small>
    </div>
</div> -->

<div class="input-group mb-2 mt-2 w-100">
    <span class="input-group-text material-symbols-outlined ps-2 pe-2"> lock </span>
    <input
        type="{{ type }}"
        class="form-control"
        maxlength="20"
        [(ngModel)]="value"
        placeholder="{{ placeHolder }}"
        [ngClass]="{ 'is-invalid': submitted && control.errors }"
        autocomplete="{{ autocomplete }}"
        (change)="change()" />
    @if (showFlag) {
        <span class="input-group-text material-symbols-outlined ps-2 pe-2" id="basic-addon2" role="none" (click)="show()">visibility</span>
    } @else {
        <span class="input-group-text material-symbols-outlined ps-2 pe-2" id="basic-addon2" role="none" (click)="show()">visibility_off</span>
    }
    @if (submitted && control.errors) {
        <div class="text-danger p-0 fs-6" style="line-height: normal;">
            @if (control.errors['required']) {
                <div data-cy="passwordRequiredError">{{ labels.PASSWORDREQUIRED }}</div>
            }
        </div>
    }
</div>
