.clear-button {
    background-color: var(--clear-button-bgcolor);
    color: var(--clear-button-color);
    border: 1px solid var(--clear-button-color);
}

.clear-button:hover {
    background-color: var(--clear-button-bgcolor-hover);
    color: var(--clear-button-color-hover);
}

.buttonSize {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    max-width: 150px;
}
