@if (message) {
    <div class="message-style">
        <div class="title">
            <div class="header">
                {{ message.senderName }}
            </div>
            <div class="header" style="display: inline-flex">
                <div class="date">{{ message.messageDateString }}</div>
                @if (message.isRead) {
                  <button (click)="markRead(false)" class="button-style mark-unread-button me-2">
                      <span class="material-symbols-outlined"> mark_as_unread </span>
                  </button>
                } @else {
                    <button (click)="markRead(true)" class="button-style mark-read-button me-2">
                        <span class="material-symbols-outlined">mark_email_read</span>
                    </button>
                }
                <button (click)="delete_message()" class="button-style delete-button">
                    <span class="material-symbols-outlined">delete</span>
                </button>
            </div>
        </div>
        <div>
            <div class="content" [innerHTML]="message.message"></div>
        </div>
        <a class="btn btn-primary" href="mailto:{{ message.email }}?body=''" target="_blank">Reply</a>
    </div>
}
