.brandFontMin {
    font-size: 2em;
    font-weight: 600;
    color: midnightblue;
    font-style: italic;
    cursor: pointer;
}

.brandFont {
    font-size: 3em;
    font-weight: 600;
    color: midnightblue;
    font-style: italic;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.companyFont {
    font-size: 3em;
    font-weight: 600;
    color: midnightblue;
    font-style: italic;
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
}

@media screen and (min-width: 0px) and (max-width: 900px) {
    .brandFont {
        font-size: 2em;
        font-weight: 600;
        color: midnightblue;
        font-style: italic;
    }
    .companyFont {
        font-size: 1.5em;
    }
}
