.count-container
{
    background-color: gray;
    color: white;
    display: inline-flex;
    border-radius: 8px;
    padding: 0px 6px;
    align-items: center;    
}

svg {
    fill: white;
    height: 24px;
    width: 24px;
    padding: 0 4px;
}

.number {
    line-height: 1.7em;
    font-size: 1rem;
    padding: 0 1px;
    font-family: ATVFabriga, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif !important;
}
