.suspended {
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    margin-top: 1px;
    margin-bottom: 1px;
    align-items: center;
}